
<meta charset="utf-8" />
<title>Portal | Carrinho</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content=" " />
<meta name="keywords" content="" />
<meta content="Themesdesign" name="author" />

<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">

<style>
    /* Skeleton Loader Styles */
    .bg-ss-secondary {
        background-color: #00a5bb3d !important;
        opacity: 1 !important;
    }
    .text-ss-secondary {
        color: #00a5bb3d !important;
        opacity: 1 !important;
    }
    
    .job-box.card .bg-secondary {
        animation: skeleton-loading 1.2s linear infinite alternate;
    }
    
    @keyframes skeleton-loading {
        0% {
            background-color: #e0e0e0;
        }
        100% {
            background-color: #f5f5f5;
        }
    }
    </style>