@@include("partials/main.html")

    <head>
        
        @@include("partials/title-meta.html", {"title": "Minhas Candidaturas"})

        <!-- Choise Css -->
        <link rel="stylesheet" href="assets/libs/choices.js/public/assets/styles/choices.min.css">

        @@include("partials/head-css.html")

        <script>
                               
            document.addEventListener('DOMContentLoaded', function () {
                
        
                window.vueApp({
            data() {
                return {
                    jobs: [],
                    loading: true,
                    jobsRaw:null,
                }
            },
            computed: {
                filteredJobs() {
                    if (!Array.isArray(this.jobs) || this.jobs.length === 0) {
                        return [];
                    }
                    return this.jobs.slice(0, 3);
                },
                isUserLogger() {
                    return !!localStorage.getItem('user');
                },
                userLogger() {
                    const user = localStorage.getItem('user')
                    return user ? JSON.parse('user') : null;
                }              
            },
            methods: {
                formatDate(dateString) {
                    if (!dateString) return '';
                    const options = { year: 'numeric', month: 'long', day: 'numeric' };
                    return new Date(dateString).toLocaleDateString('pt-BR', options);
                },
            },
            mounted() {
                fetch('https://ypjkbbt6hgjcoi46mdpv5hkjzi0ttivo.lambda-url.us-east-2.on.aws/api/v1/job')
                    .then(res => res.json())
                    .then(data => {
                        this.jobsRaw = data 
                        this.jobs = data?.data?.data || []
                    })
                    .catch(() => {
                        this.jobs = [];
                    })
                    .finally(() => {
                        this.loading = false;
                    });
            }
        }).mount('#job-list-vue-app-6');
        });
    
        
        </script>

    </head>

    @@include("partials/body.html")

        <!-- Begin page -->
        <div>

            @@include("partials/topbar.html")

            
            <div class="main-content" id="job-list-vue-app-6">

                <div class="page-content">

                    @@include("partials/page-title.html",{"pagetitle":"Perfil","title":"Minhas Candidaturas"})

                    <!-- START MANAGE-JOBS -->
                    <section class="section">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-8">
                                    <div class="mb-4 mb-lg-0">
                                        <h6 class="mb-0"> Minhas Candidaturas </h6>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-4">
                                    <div class="candidate-list-widgets">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="selection-widget">
                                                    <label for="Estados" class="form-label text-secondary">Status</label>
                                                    <select class="form-select text-primary" aria-label="Default select example">
                                                        <option value="df">Todos</option>
                                                        <option value="ne">Recebida</option>
                                                        <option value="od">Em análise</option>
                                                        <option value="rd">Rejeitada</option>
                                                    </select>
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-6">
                                                <div class="selection-widget mt-2 mt-lg-0">
                                                    <label for="Estados" class="form-label text-secondary">Período</label>
                                                    <select class="form-select text-primary" aria-label="Default select example">
                                                        <option value="df">Todos</option>
                                                        <option value="ne">Últimos 2 meses</option>
                                                        <option value="ne">Últimos 6 meses</option>
                                                        <option value="ne">Últimos 12 meses</option>
                                                        <option value="ne">Últimos 2 anos</option>
                                                    </select>
                                                </div>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end candidate-list-widgets-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row"  v-if="!loading">
                                <div class="col-lg-12">
                                    <!-- <div class="job-box card mt-4">
                                        <div class="card-body p-4">
                                            <div class="row">
                                                <div class="col-lg-1">
                                                    <a href="company-details.html"><img src="assets/images/featured-job/img-01.png" alt="" class="img-fluid rounded-3"></a>
                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="mt-3 mt-lg-0">
                                                        <h5 class="fs-17 mb-1"><a href="job-details.html" class="text-dark">Business Associate</a></h5>
                                                        <ul class="list-inline mb-0">
                                                            <li class="list-inline-item">
                                                                <p class="text-muted fs-14 mb-0">Jobcy Technology Pvt.Ltd</p>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> California</p>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i> $250 - $800 / month</p>
                                                            </li>
                                                        </ul>
                                                        <div class="mt-2">
                                                            <span class="badge bg-danger-subtle text-danger mt-1">Part Time</span>
                                                            <span class="badge bg-warning-subtle text-warning mt-1">Urgent</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 align-self-center">
                                                    <ul class="list-inline mt-3 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                            <a href="manage-jobs-post.html" class="avatar-sm success-bg-subtle d-inline-block text-center rounded-circle fs-18">
                                                                <i class="uil uil-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#deleteModal"  class="avatar-sm danger-bg-subtle d-inline-block text-center rounded-circle fs-18">
                                                                <i class="uil uil-trash-alt"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div> --><!--end job-box-->
                                </div><!--end col-->
                                <div class="col-lg-12">
                                    <div v-for="job in filteredJobs" :key="job.id" class="job-box card mt-4">
                                        <div class="card-body p-4">
                                            <div class="row">
                                                <div class="col-lg-1">
                                                    <a :href="`manage-jobs-post.html?job-id=${job.id}`"><img src="assets/images/featured-job/img-01.png" alt="" class="img-fluid rounded-3"></a>
                                                </div><!--end col-->
                                                <div class="col-lg-9">
                                                    <div class="mt-3 mt-lg-0">
                                                        <h5 class="fs-17 mb-1"><a :href="`manage-jobs-post.html?job-id=${job.id}`" class="text-dark">{{job.title}}</a> <!-- <small class="text-muted fw-normal">(2-4 Anos Exp.)</small> --></h5>
                                                        <ul class="list-inline mb-0">
                                                            <li class="list-inline-item">
                                                                <p class="text-muted fs-14 mb-0">Publicação: {{formatDate(job.createdAt)}}</p>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{job.location}}</p>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i> Experiência :</span> <span class="ml-5">{{job.experienceScore}}</span>/10</p>
                                                            </li>
                                                        </ul>
                                                        <div class="mt-2">
                                                            <span class="badge bg-dark-subtle text-black mt-1"><strong>Tempo Integral</strong></span>
                                                        </div>
                                                        <div class="mt-3">
                                                            <span><strong>Estado:</strong></span> <span class="badge  text-success border border-success  mt-1"><strong>Em análise</strong></span>
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
                                                <div class="col-lg-2 align-self-center">
                                                    <ul class="list-inline mt-3 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Mais">
                                                            <a :href="`manage-jobs-post.html?job-id=${job.id}`" class="avatar-sm success-bg-subtle d-inline-block text-center rounded-circle fs-18">
                                                                <i class="mdi mdi-eye"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#deleteModal"  class="avatar-sm danger-bg-subtle d-inline-block text-center rounded-circle fs-18">
                                                                <i class="uil uil-trash-alt"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!--end row-->
                                        </div>
                                    </div>
                                </div>  
                            </div><!--end row-->
                            <div class="row" v-else>
                                <div class="col-lg-12">
                                    <div class="job-box card mt-4" style="cursor: pointer; opacity: 0.7;">
                                        <div class="bookmark-label text-center">
                                            <span class="bg-ss-secondary rounded-circle d-inline-block" style="width: 24px; height: 24px;"></span>
                                        </div>
                                        <div class="p-4">
                                            <div class="row align-items-center">
                                                <div class="col-md-2">
                                                    <div class="text-center mb-4 mb-md-0">
                                                        <span class="bg-ss-secondary rounded-3 d-inline-block" style="width: 60px; height: 60px;"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-2 mb-md-0">
                                                        <div class="bg-ss-secondary rounded mb-2" style="width: 70%; height: 20px;"></div>
                                                        <div class="bg-ss-secondary rounded" style="width: 40%; height: 14px;"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="d-flex mb-2 align-items-center">
                                                        <span class="bg-ss-secondary rounded-circle me-2" style="width: 16px; height: 16px;"></span>
                                                        <div class="bg-ss-secondary rounded" style="width: 40px; height: 14px;"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="bg-ss-secondary rounded-pill d-inline-block" style="width: 80px; height: 18px;"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 bg-light">
                                            <div class="text-center ">
                                                <div class="spinner-border text-ss-secondary" role="status">
                                                    <span class="">...</span>
                                                </div>
                                            </div>
                                            <div class="text-center ">
                                                <div class="text-ss-secondary">
                                                    <span class="">A processar ...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end col-->    
                            </div>
                            <div class="row">
                                <div class="col-lg-12 mt-4 pt-2">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination job-pagination mb-0 justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                                    <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                </a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                           <!--  <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li> -->
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)">
                                                    <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!-- END MANAGE-JOBS -->

                    <!-- DELETE Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Excluir Vaga?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <h6 class="text-danger"><i class="uil uil-exclamation-triangle"></i> Atenção: Tem certeza que deseja excluir esta vaga?</h6>
                                        <p class="text-muted">Sua vaga será removida permanentemente e você não poderá vê-la novamente, incluindo as que você compartilhou com seus amigos.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger btn-sm">Sim, excluir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END DELETE MODAL -->

                </div>
                <!-- End Page-content -->

                @@include("partials/footer.html")

                @@include("partials/switcher.html")
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        @@include("partials/vendor-scripts.html")

        <!-- Choice Js -->
        <script src="assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

        <!-- Candidate Init Js -->
        <script src="assets/js/pages/candidate.init.js"></script>

        <!-- Switcher Js -->
        <script src="assets/js/pages/switcher.init.js"></script>

        <script src="assets/js/app.js"></script>

    </body>
</html>